/* container */
.wrapper{
    width:100%;
    background-color:#fafafa;
}

.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
.heading1 {
    text-align: center;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content_item {
    width:100%;
    
}

@media (min-width: 992px) {
    .wrapper .content_item {
        width:50%;
    }
}
.wrapper .text{
    padding:50px;
}
.wrapper .text .heading2 {
    margin:0px 0px 0px 0px;
    font-size: 24px;
    font-weight: normal;
}
.heading2 {
    display: flex;
    align-items: flex-end;
}
.sns_list {
    margin-left: auto;
    margin-right: 0;
}
.sns_list a {
    
    margin: 10px;
}